<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Abstract" content="" />
    <meta name="Author" content="" />
    <title>İlhan Enes Daniş</title>

    <!--Kelimeler Max. 5 Kelime -->
    <meta name="keywords" content="" />

    <!-- Sayfa Açıklaması Max. 115 Karakter -->
    <meta name="description" content="" />
    <meta property="og:description" content="" />
    <meta itemprop="description" content="" />
    <meta name="twitter:description" content="" />

    <!-- Şuanki Sayfa -->
    <link rel="canonical" href="index.html" />
    <meta property="og:url" content="index.html" />

    <!-- Favicon -->
    <link rel="icon" href="/Content/images/logo/fav.png" />

    <!-- Normalize ve Reset CSS -->
    <link href="/Content/files/custom/normalize.css" rel="stylesheet" />
    <link href="/Content/files/custom/reset.css" rel="stylesheet" />

    <!-- Animation -->
    <link rel="stylesheet" href="/Content/files/animations/animate.min.css" />

    <!-- Fancybox -->
    <link rel="stylesheet" href="/content/files/fancybox/jquery.fancybox.min.css" />

    <!-- Swiper -->
    <link rel="stylesheet" href="/Content/files/swiper/swiper-bundle.min.css" />

    <!-- Bootstrap CSS -->
    <link href="/Content/files/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@500&display=swap" rel="stylesheet">
    <!-- FA - İcon -->
    <link href="/Content/files/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/Content/files/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/Content/files/fontawesome/css/solid.css" rel="stylesheet" />

    <!-- IE10 Bug -->
    <link href="/Content/files/custom/ie10-viewport-bug-workaround.css" rel="stylesheet" />

    <!-- Şablon CSS -->
    <link href="/Content/maincss/main.css" rel="stylesheet" />
</head>

<body>
@RenderBody()
    <!-- Bootstrap JavaScript Dosyaları -->
    <script src="/Content/files/bootstrap/jquery.min.js"></script>
    <script src="/Content/files/bootstrap/popper.min.js"></script>
    <script src="/Content/files/bootstrap/bootstrap.min.js"></script>

    <!-- IE10 bug JS -->
    <script src="/Content/files/custom/ie10-viewport-bug-workaround.js"></script>

    <!-- Swiper -->
    <script src="/Content/files/swiper/swiper-bundle.min.js"></script>

    <!-- Fancybox -->
    <script src="/Content/files/fancybox/jquery.fancybox.min.js"></script>

    <!-- Animation & Animate -->
    <script src="/Content/files/custom/wow.js"></script>
    <script>
        new WOW().init();
    </script>
</body>

</html>